! special
*.foreground:   #d9e6f2
*.background:   #050810
*.cursorColor:  #d9e6f2

! black
*.color0:       #050810
*.color8:       #282b33

! red
*.color1:       #ad779b
*.color9:       #cdb4ca

! green
*.color2:       #90af7f
*.color10:      #bfcfbc

! yellow
*.color3:       #ad937f
*.color11:      #cdc2bc

! blue
*.color4:       #7493b8
*.color12:      #b1c2d7

! magenta
*.color5:       #9077b8
*.color13:      #bfb4d7

! cyan
*.color6:       #74af9b
*.color14:      #b1cfca

! white
*.color7:       #cbcdd6
*.color15:      #edf0f8

