! special
*.foreground:   #f4f2f0
*.background:   #22192c
*.cursorColor:  #f4f2f0

! black
*.color0:       #3d335c
*.color8:       #3d335c

! red
*.color1:       #ff2b77
*.color9:       #ff2b77

! green
*.color2:       #00f58f
*.color10:      #00f58f

! yellow
*.color3:       #fee353
*.color11:      #fee353

! blue
*.color4:       #008bd7
*.color12:      #0c86f0

! magenta
*.color5:       #da70d6
*.color13:      #e69ee4

! cyan
*.color6:       #00ded3
*.color14:      #0cffe1

! white
*.color7:       #b5bab5
*.color15:      #d5d8d5
