! special
*.foreground:   #d9e6f2
*.background:   #0F1010
*.cursorColor:  #d9e6f2

! black
*.color0:       #22272d
*.color8:       #40454b

! red
*.color1:       #b5968f
*.color9:       #bfa7a3

! green
*.color2:       #84ba9c
*.color10:      #98c4ad

! yellow
*.color3:       #a8ba8f
*.color11:      #b5c4a3

! blue
*.color4:       #9189c0
*.color12:      #a29dca

! magenta
*.color5:       #b589b3
*.color13:      #bf9dc0

! cyan
*.color6:       #84adc0
*.color14:      #98baca

! white
*.color7:       #ced3d9
*.color15:      #d6dbe1
