! special
*.foreground:   #b9b5b7
*.background:   #151113
*.cursorColor:  #b9b5b7

! black
*.color0:       #151113
*.color8:       #2e2527

! red
*.color1:       #9e7878
*.color9:       #9e8e8e

! green
*.color2:       #9a907a
*.color10:      #99948a

! yellow
*.color3:       #899a78
*.color11:      #91998a

! blue
*.color4:       #769c8b
*.color12:      #8c9c95

! magenta
*.color5:       #76969e
*.color13:      #8e9b9e

! cyan
*.color6:       #7a889c
*.color14:      #8c929c

! white
*.color7:       #b9b5b7
*.color15:      #cfcbcc
