@define-color borders_breeze #54555b;
@define-color content_view_bg_breeze #1e1f29;
@define-color error_color_backdrop_breeze #dc6e70;
@define-color error_color_breeze #ff5555;
@define-color error_color_insensitive_backdrop_breeze #682f35;
@define-color error_color_insensitive_breeze #682f35;
@define-color insensitive_base_color_breeze #1c1d27;
@define-color insensitive_base_fg_color_breeze #65666a;
@define-color insensitive_bg_color_breeze #1c1d27;
@define-color insensitive_borders_breeze #2e2f38;
@define-color insensitive_fg_color_breeze #65666a;
@define-color insensitive_selected_bg_color_breeze #1c1d27;
@define-color insensitive_selected_fg_color_breeze #65666a;
@define-color insensitive_unfocused_bg_color_breeze #1c1d27;
@define-color insensitive_unfocused_fg_color_breeze #65666a;
@define-color insensitive_unfocused_selected_bg_color_breeze #1c1d27;
@define-color insensitive_unfocused_selected_fg_color_breeze #65666a;
@define-color link_color_breeze #5294e2;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #59f484;
@define-color success_color_breeze #50fa7a;
@define-color success_color_insensitive_backdrop_breeze #2d6742;
@define-color success_color_insensitive_breeze #2d6742;
@define-color theme_base_color_breeze #1e1f29;
@define-color theme_bg_color_breeze #1e1f29;
@define-color theme_button_background_backdrop_breeze #292b37;
@define-color theme_button_background_backdrop_insensitive_breeze #262833;
@define-color theme_button_background_insensitive_breeze #262833;
@define-color theme_button_background_normal_breeze #282a36;
@define-color theme_button_decoration_focus_backdrop_breeze #45485a;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #2f313f;
@define-color theme_button_decoration_focus_breeze #44475a;
@define-color theme_button_decoration_focus_insensitive_breeze #2f313f;
@define-color theme_button_decoration_hover_backdrop_breeze #45485a;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #2f313f;
@define-color theme_button_decoration_hover_breeze #44475a;
@define-color theme_button_decoration_hover_insensitive_breeze #2f313f;
@define-color theme_button_foreground_active_backdrop_breeze #f3f3f3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #65666a;
@define-color theme_button_foreground_active_breeze #fefefe;
@define-color theme_button_foreground_active_insensitive_breeze #65666a;
@define-color theme_button_foreground_backdrop_breeze #f3f3f3;
@define-color theme_button_foreground_backdrop_insensitive_breeze #6b6d72;
@define-color theme_button_foreground_insensitive_breeze #6b6d72;
@define-color theme_button_foreground_normal_breeze #f8f8f2;
@define-color theme_fg_color_breeze #f8f8f2;
@define-color theme_hovering_selected_bg_color_breeze #44475a;
@define-color theme_selected_bg_color_breeze #44475a;
@define-color theme_selected_fg_color_breeze #fefefe;
@define-color theme_text_color_breeze #f8f8f2;
@define-color theme_titlebar_background_backdrop_breeze #1e1f29;
@define-color theme_titlebar_background_breeze #1e1f29;
@define-color theme_titlebar_background_light_breeze #1e1f29;
@define-color theme_titlebar_foreground_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_insensitive_breeze #666a73;
@define-color theme_unfocused_base_color_breeze #20212a;
@define-color theme_unfocused_bg_color_breeze #20212a;
@define-color theme_unfocused_fg_color_breeze #f3f3f3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #2b2d39;
@define-color theme_unfocused_selected_bg_color_breeze #2b2d39;
@define-color theme_unfocused_selected_fg_color_breeze #f3f3f3;
@define-color theme_unfocused_text_color_breeze #f3f3f3;
@define-color theme_unfocused_view_bg_color_breeze #1c1d27;
@define-color theme_unfocused_view_text_color_breeze #65666a;
@define-color theme_view_active_decoration_color_breeze #44475a;
@define-color theme_view_hover_decoration_color_breeze #44475a;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #5c616c;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #54555c;
@define-color unfocused_insensitive_borders_breeze #2e2f38;
@define-color warning_color_backdrop_breeze #ebba8e;
@define-color warning_color_breeze #ffb86c;
@define-color warning_color_insensitive_backdrop_breeze #68503d;
@define-color warning_color_insensitive_breeze #68503d;
